body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.completed {
    text-decoration: line-through !important;
    color: green!important;
}

.modal {
    height: 600px!important;
}